.widget-container {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #2e3842;
    padding: 3rem;
}

.widget-container::after {
    content: "";
    border: 3px solid #9fe148;
    position: absolute;
    top: 1.5rem;
    bottom: 1.5rem;
    left: 1.5rem;
    right: 1.5rem;
}

#spectrum-canvas {
    flex-grow: 2;
    flex-shrink: 0;
    flex-basis: 400px;

}

#spectrum-controls {
    flex-grow: 1;

    flex-shrink: 0;
    margin: 2em;
}

#spectrum-controls div {
    display: block;
    padding-top: 0.5em;
}

#spectrum-controls h2,
#spectrum-controls label {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

svg text {
    fill: white;
    opacity: 0.5;
    font: 14px sans-serif;
}

svg .domain,
svg .tick line {
    stroke: white;
    opacity: 0.5;
}

/* slider styling    */
input[type=range] {
    width: 100%;
    margin: 8px 0;
    background-color: transparent;
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    background: rgba(0, 0, 0, 0.9);
    border: 0;
    border-radius: 1.3px;
    width: 100%;
    height: 4px;
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
    margin-top: -8px;
    width: 20px;
    height: 20px;
    background: #9fe148;
    border: 1px solid #ffffff;
    border-radius: 6px;
    cursor: pointer;
    -webkit-appearance: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #000000;
}

input[type=range]::-moz-range-track {
    background: rgba(0, 0, 0, 0.9);
    border: 0;
    border-radius: 1.3px;
    width: 100%;
    height: 4px;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #9fe148;
    border: 1px solid #ffffff;
    border-radius: 6px;
    cursor: pointer;
}

input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 9px 0;
    color: transparent;
    width: 100%;
    height: 4px;
    cursor: pointer;
}

input[type=range]::-ms-fill-lower {
    background: #000000;
    border: 0;
    border-radius: 2.6px;
}

input[type=range]::-ms-fill-upper {
    background: rgba(0, 0, 0, 0.9);
    border: 0;
    border-radius: 2.6px;
}

input[type=range]::-ms-thumb {
    width: 20px;
    height: 20px;
    background: #9fe148;
    border: 1px solid #ffffff;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 0px;
    /*Needed to keep the Edge thumb centred*/
}

input[type=range]:focus::-ms-fill-lower {
    background: rgba(0, 0, 0, 0.9);
}

input[type=range]:focus::-ms-fill-upper {
    background: #000000;
}

/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
  how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {

    /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
    input[type=range] {
        margin: 0;
        /*Edge starts the margin from the thumb, not the track as other browsers do*/
    }
}